<nb-layout>
  @if (isLoggedIn$ | async) {
    <nb-layout-header fixed>
      <div class="header-inner">
        <button nbButton ghost size="small" (click)="toggleSidebar()" aria-label="Alternar menu">
          <nb-icon icon="menu-2-outline"></nb-icon>
        </button>
        <span class="brand">IwaRecibos 2.0</span>
        <button nbButton ghost size="small" class="logout-btn" (click)="onLogout()">
          <nb-icon icon="log-out-outline"></nb-icon>
          Sair
        </button>
      </div>
    </nb-layout-header>
  }

  @if (isLoggedIn$ | async) {
    <nb-sidebar class="menu-sidebar" tag="menu-sidebar" responsive start>
      <nb-menu [items]="menuItems" tag="menu"></nb-menu>
    </nb-sidebar>
  }

  <nb-layout-column>
    <router-outlet></router-outlet>
  </nb-layout-column>
</nb-layout>
